# pip install -r requirements.txt
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v2.7.9/tested_requirements/requirements_39.reqs
s3fs==2023.3.0
charset-normalizer~=2.0.0
pyarrow<6.1.0,>=6.0.0; extra == "pandas"
streamlit
altair<5
sqlalchemy